<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MAD_Projekt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A83A5E71F161DEB00278CA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A83A5FB1F161DEC00278CA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A83A6061F161DEC00278CA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
