<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>51061087551-82hl900455en8sak2gpbaj1j5cfq5f5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51061087551-82hl900455en8sak2gpbaj1j5cfq5f5p</string>
	<key>API_KEY</key>
	<string>AIzaSyAlk7xPuP0PT_HzZ9jiLEtDDpG2f2ym9Pc</string>
	<key>GCM_SENDER_ID</key>
	<string>51061087551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.hsos.SEP.FireLearning</string>
	<key>PROJECT_ID</key>
	<string>firelearning-8c39f</string>
	<key>STORAGE_BUCKET</key>
	<string>firelearning-8c39f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:51061087551:ios:97343c292cb6ec24</string>
	<key>DATABASE_URL</key>
	<string>https://firelearning-8c39f.firebaseio.com</string>
</dict>
</plist>